{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en" data-bs-theme="light">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'icon.png' %}">
        <title> {% trans 'Mental Fatigue Tester' %} </title>

        <!-- Django JS translation file -->
        <script src="{% url 'javascript_catalog' %}" type="text/javascript"></script>

        <!-- Bootstrap css file -->
        <link rel="stylesheet" href="{% static 'css/bootstrap_5_3_0.css' %}">
    </head>
    <body>
        {% include 'navbar.html' %}

        <!-- Prepare the place for the changing content -->
        <div class="container">
            {% block content %}
            {% endblock %}

            <!-- Display any alert message that is incoming -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!--  Bootstrap JS file -->
        <script src="{% static 'js/bootstrap_5_3_0_bundle.js' %}"></script>
        <script src="{% static 'js/chart_js.js' %}"></script>
        <script src="{% static 'js/tests_script.js' %}"></script>
        <script src="{% static 'js/toogle_dark_mode.js' %}"></script>
    </body>
</html>
