{% extends 'app_base.html' %}
{% load i18n %}

{% block content %}
    {% csrf_token %}
    <div id="popup-overlay">
        <div id="popup">
            <div id= "popuptext" class="popup_text"></div>
        <button id="start-button" onclick="startTest()">Ready</button>
        </div>
    </div>
    <figure class="text-center">
        <h1 class="mt-5 mb-3"> {% trans 'To start the test click any of the buttons bellow!' %} </h1>
    </figure>
    <div class="test_area">
        <div id="clock"></div>
        <div id="rectangle" class ="rectangle">
            <div id="rectangle_text" class = "rectangle_text"></div>
        </div>
        <div class="buttons_container">
            <input type="button" class="test_button button1" value="" onclick="redone(); startClock();">
            <input type="button" class="test_button button2" value="" onclick="blueone(); startClock();">
            <input type="button" class="test_button button3" value="" onclick="greenone(); startClock();">
            <input type="button" class="test_button button4" value="" onclick="yellowone(); startClock();">
            <input type="button" class="test_button button5" value="" onclick="blackone(); startClock();">
        </div>
    </div>
    <div id = "results" class = "results">
        <div id = "results_text" class = "results_text"></div>
        <canvas id="lineChart"></canvas>
        <canvas id="lineCharttwo"></canvas>
    </div>
    <div class="survey_access_temp_section text-center mt-5">
        <a class="btn btn-primary" href="{% url 'survey' %}">
            Tymczasowy placeholder dla ankiety (powinna wyskoczyć po testach {jeśli użytkownik zalogowany})
        </a>
    </div>

{% endblock %}
