{% extends 'app_base.html' %}
{% load i18n %}

{% block content %}

    <figure class="text-center">
    <h1>To start the test click any of the buttons bellow!</h1>
    </figure>
    <div class="test_area">

        <div id="clock" ></div>
        <div id="rectangle" class ="rectangle">
            <div id="rectangle_text" class = "rectangle_text"></div>
        </div>
        <div class="buttons_container">
            <input type="button" class="test_button button1" value="" onclick="startTimer(); changeColor(); startClock();">
            <input type="button" class="test_button button2" value="" onclick="startTimer(); changeColor(); startClock();">
            <input type="button" class="test_button button3" value="" onclick="startTimer(); changeColor(); startClock();">
            <input type="button" class="test_button button4" value="" onclick="startTimer(); changeColor(); startClock();">
            <input type="button" class="test_button button5" value="" onclick="startTimer(); changeColor(); startClock();">
        </div>
    </div>

    <div id="time_elapsed_container"></div>

{% endblock %}
