<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fatigue Test</title>
    <style>
		.test_area {
			width: 50%;
			height: 500px;
			margin: 0 auto;
			background-color: #f0f0f0;
			border: 1px solid #ccc;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 2em;
			font-weight: bold;
			color: #333;
		}
        #big_text {
            font-size: 24px;
            color: darkslateblue;
            font-weight: normal;
            text-align: center;
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body>
    <p id="big_text"></big_text><b>Fatigue Test</b></p>
    <div class="test_area">
	</div>
</body>
</html>